*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	width: 100%;
	font-family: "Calibri", sans-serif;
	position: relative;
	font-size: 20px;
}
@media screen and (max-width: 1200px) {
	body{
		font-size: 16px;
	}
}
.arrow-top{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
}
.arrow-top button{
	border: none;
	background: url(../img/icons/keyboard_arrow_up-24px.svg) no-repeat;
	background-size: contain;
	outline: transparent;
	background-color: transparent;
	width: 100%;
	height: 100%;
}
.page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}
.page-preloader .spinner {
    width: 6em;
    height: 6em;
    position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
    background: url('img/spinner.gif') no-repeat 50% 50%;
}
@media screen and (max-width: 600px){
	.page-preloader{
		display: none;
	}
}
header{
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 100;
	background-color: #fff;
}
header > .content-block{
	padding-top: 30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media screen and (max-width: 900px){
	header > .content-block{
		align-items: flex-start;
		padding: 20px 0;
	}
}
@media screen and (max-width: 600px){
	header{
		height: 120px;
	}
}
.menu{
	width: 50%;
	padding-left: 30px;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	display: inline-block;
	text-align: center;
	padding-right: 1em;
}
.menu li a{
	text-decoration: none;
	color: #000;
}
@media screen and (max-width: 900px) {
	.menu {
		display: none;
		width: 80%;
		position: absolute;
		z-index: 1000;
		top: 120px;
		left: 10%;
		padding-left: 0;
	}
	.menu ul li {
		padding-right: 0;
		display: block;
		text-align: center;
		font-size: 30px;
		line-height: 1.7;
	}	
}
.sandwich{
	display: none;
}
@media screen and (max-width: 900px){
	.sandwich{
		display: block;
		width: 10%;
		order: 1;
	}
}
.hidden-menu-ticker {
	display: none;
}
@media screen and (max-width: 900px){
	.content-block{
		padding-top: 70px;
	}
	.btn-menu{
		background: #fff;
		cursor: pointer;
	}
	.btn-menu span{
		display: block;
		width: 24px;
		height: 24px;
		margin-left: auto;
		background-image: url(../img/icons/menu-24px.svg);
		background-size: contain;

	}
	.hidden-menu-ticker:checked ~ .btn-menu span{
		background-image: url(../img/icons/close-24px.svg);
	}
}

@media (prefers-color-scheme: dark){
	.btn-menu span{
		background-image: url(../img/icons/menu-white.svg);
	}
}
.logo{
	display: block;
	width: 25%;
}
.logo a{
	display: block;
	text-decoration: none;
	width: 100%;
	height: 24px;
}
.logo-image{
	display: block;
	height: 24px;
	width: 100%;
	background: url(../img/site_logo-1.svg) no-repeat center;
	background-size: cover;
}
@media screen and (max-width: 900px) {
	.logo {
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.logo {
		width: 100%;
		padding-bottom: 20px;
	}
}
.contacts{
	display: flex;
	justify-content: space-between;
	width: 25%;
}
.contacts a{
	display: inline-block;
	font-size: 24px;
	line-height: 0;
	color: #000;
}
.fab, .fas{
	text-rendering: optimizeLegibility; /*safary*/
}
@media screen and (max-width: 900px) {
	.contacts {
		width: 40%;
		padding-left: 30px;
	}
}
@media screen and (max-width: 600px) {
	.contacts {
		width: 75%;
		padding-left: 0;
		margin-right: 5%;
	}
}
/*темная тема*/
@media (prefers-color-scheme: dark){
	:link, :link *{
		color: #eeeeee !important;
	}
}
.content-block{
	width: 80%;
	margin: 0 auto;
	padding-top: 120px;
}
@media screen and (max-width: 600px){
	.content-block{
		padding-top: 70px;
	}
}
.home-page{
	display: -webkit-flex;
	display: -webkit-box; /*safary*/
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.home-page-img{
	width: 25%;
}
.home-page-img img{
	width: 100%;
}
.home-page-text{
	width: 75%;
	padding-left: 1.5em;
}
.home-page-text p{
	line-height: 1.5;
}
@media screen and (max-width: 800px) {
	.home-page-img {
		width: 35%;
	}
	.home-page-text {
		width: 65%;
	}
}
@media screen and (max-width: 600px){
	.home-page {
		display: block;
	}
	.home-page-img {
		width: 100%;
	}
	.home-page-text {
		width: 100%;
		padding-left: 0;
		padding-top: 20px;
	}
}

/*FOTO Gallery*/
.foto-gallery{
	display: none;
}
.foto-gallery-open{
	display: flex;
	width: 80%;
	position: fixed;
	top: 90px;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.8);
	height: 100%;
}
.foto-gallery-open-img{
	width: 80%;
}
.foto-gallery-open-img img{
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translate(-50%);
	max-height: 89vh;
	max-width: 100%;
	padding-bottom: 100px;
}
.foto-gallery button{
	border: none;
	outline: transparent;
	background-color: transparent;
	width: 100%;
	height: 100%;
	text-align: left;
}
.foto-gallery-close{
	position: absolute;
	top: 0;
	right: 0;
	height: 5%;
}
.foto-gallery-close button{
	height: 100%;
	width: 40px;
	background: url(../img/icons/close-24px.svg) no-repeat;
	background-size: contain;
}
.foto-gallery-arrow{
	width: 50%;
	height: 100%;
}
.foto-gallery-arrow button img{
	width: 20%;
}
.foto-gallery-arrow-right button img{
	margin-left: 80%;
}
@media screen and (max-width: 800px) {
	.foto-gallery-open{
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: #000;
	}
	.foto-gallery-close{
		top: 1%;
		right: 1%;
	}
	.foto-gallery-close button{
		background-image: url(../img/icons/close-white-24dp.svg);
	}
	.foto-gallery-arrow{
		display: none;
	}
	.foto-gallery-open-img{
		width: 100%;
		padding-top: 30px;
	}
	.foto-gallery-open-img img{
		max-height: 95vh;
		max-width: 100vw;
		padding-bottom: 0;
		padding-top: 1em;
	}
}

/*FOTO Pages*/
.foto-page{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: center;
}
.foto-page h3{
	width: 100%;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	margin: 40px 0;
}
.foto-page-item{
	width: 24%;
	height: 400px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
@media screen and (max-width: 1024px) {
	.foto-page-item{
		width: 30%;
	}
}
@media screen and (max-width: 750px) {
	.foto-page-item{
		width: 100%;
	}
}
.foto-page img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.foto-page img:hover{
	box-shadow: 0 0 1em gray;
}

